body {
    background-color: #1a1a1a; /* Dark Background */
    color: #f0f0f0; /* Lighter text*/
    font-family: Arial, Helvetica,'Arial', sans-serif;
    margin: 0;
}

header, main {
    padding: 20px;
}
header {
    background-color: #007bff;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px; /*top,right,bottom,left*/
    text-decoration: none;
}

/* my super cool additions lol*/
a:hover {
    color: darkblue;
}